*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.container-movie{
    width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.movie{
    width: calc(100% / 4 - 20px );
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}